.DS_Store
General/
Winter\ Break\ 2022/
.gitignore.swp
not\ to\ commit/
/node_modules/
Semester\ III-II/Research
Summer\ Break\ 2023
Semester\ III-II/Distrbuted\ Systems\ CS3.401/Assignments/Assignment\ 2/docker-hadoop/hadoop/ignore 
Semester\ III-II/Distrbuted\ Systems\ CS3.401/Project 
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 3/data 
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 3/Part_1.ipynb
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 3/wandb
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 5/assignment-5-aaryanajaysharma/.git
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 4/.git 
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 3/assignment-3-aaryanajaysharma/.git
Semester\ III-I/Statistical\ Methods\ in\ AI\ CS7.403/Assignments/Assignment\ 1/assignment-1-aaryanajaysharma/.git 
Semester\ III-I/CSE-Honours\ Project\ 1\ CS9.302  
